body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.dialog {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.dialog {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  opacity: 0;
  position: fixed;
  transition: opacity .2s ease, visibility .2s ease;
  visibility: hidden;
  z-index: 500;
}

.dialog__box {
  background: #fff;
  border-radius: 4px;
  box-shadow:
    0 10px 14px rgba(0, 0, 0, 0.12),
    0 7px 12px rgba(0, 0, 0, 0.19);
  opacity: 0;
  overflow: hidden;
  position: relative;
  transform: scale(0.8);
  transition:
    opacity .2s ease,
    visibility .2s ease,
    transform .2s ease;
  visibility: hidden;
}

.dialog.is-opened {
  opacity: 1;
  visibility: visible;
}

.dialog.is-opened .dialog__box {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.dialog__content {
  color: #404041;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
  padding: 0 32px;
  width: 280px;
}

.dialog__actions {
  padding: 16px;
  background: #efefef;
  display: flex;
  justify-content: flex-end;
}

.button--primary,
.button--secondary,
.dialog__close {
  -webkit-appearance: none;
  background: none;
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
}

.button--primary,
.button--secondary {
  border-radius: 3px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 34px;
  padding: 0 18px;
  text-transform: uppercase;
  transition:
    background .2s ease,
    border .2s ease,
    color .2s ease;
}

.button--primary {
  background: #34495e;
  color: #fff;
  font-weight: bold;
}

.button--primary:link,
.button--primary:visited {
  color: #fff;
}
.button--primary:hover {
  background: #34495e;
}

.button--primary:active {
  background: #34495e;
}

.button--primary:disabled {
  background: #ddd;
  color: #9c9c9c;
}

.button--secondary {
  background: none;
  border: 2px solid #34495e;
  color: #34495e;
  font-weight: bold;
}

.button--secondary:link,
.button--secondary:visited {
  color: #34495e;
}

.button--secondary:hover {
  background: #34495e;
  border-color: #34495e;
  color: #fff;
}

.button--secondary:active {
  background: #34495e;
  border-color: #34495e;
}

.dialog__close {
  width: 20px;
  height: 20px;
  fill: #9c9c9c;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 16px;
  top: 16px;
}

.dialog__close:hover {
  fill: #ddd;
}

.dialog__title {
  font-size: 18px;
  margin: 0 0 20px;
  padding: 32px 32px 0;
}

.dialog__button {
  display: block;
  margin: 0 0 0 16px;
}

@media (max-width: 480px) {
  .dialog__button {
    margin: 0 10px 0 0;
  }
}
